<main class="main" >
  <div class="content">
    <div class="left-side" style="width: 40rem">
      <h1>{{ 'Energie' }}</h1>
      <mat-list>
        <mat-list-item>
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{'Heizung'}}</mat-card-title>
            </mat-card-header>
            <br>
            <mat-card-content>
              <mat-form-field>
                <mat-label>{{'Heizart'}}</mat-label>
                <input matInput [formControl]="heizart">
              </mat-form-field>
              <br>
              <mat-select>
                <mat-option value="one">{{'aaa'}}</mat-option>
                <mat-option value="two">{{'aaabb'}}</mat-option>
              </mat-select>
            </mat-card-content>
          </mat-card>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{'Strom'}}</mat-card-title>
            </mat-card-header>
          </mat-card>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{'Solaranlage'}}</mat-card-title>
            </mat-card-header>
            <mat-card-content> {{'aaaaa'}}</mat-card-content>
          </mat-card>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{'Sanierungen'}}</mat-card-title>
            </mat-card-header>
          </mat-card>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{'Weiteres'}}</mat-card-title>
            </mat-card-header>
          </mat-card>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
    </div>
  </div>
</main>
