<main class="main">
  <div class="content">
    <div class="left-side" style="width: 40rem">
      <h1>{{ "Klimaschule Report" }}</h1>
      <p></p>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile [style.background]="'lightblue'" (click)="navigateToEnergie()">{{'Energie'}}</mat-grid-tile>
        <mat-grid-tile [style.background]="'lightblue'" (click)="navigateToBiodiversity()">{{'Biodiversität'}}</mat-grid-tile>
        <mat-grid-tile [style.background]="'lightblue'">{{'Mobilität'}}</mat-grid-tile>
        <mat-grid-tile [style.background]="'lightblue'">{{'Abfall & Ressourcen'}}</mat-grid-tile>
        <mat-grid-tile [style.background]="'lightblue'">{{'Ernährung'}}</mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="social-links">
        <a
          href="https://www.klimaschule.ch/schulen/"
          aria-label="Klimaschule"
          target="_blank"
          rel="noopener">{{'Klimaschule'}}
        </a>
        <a
          href="/ranking/ranking.html"
          aria-label="Ranking"
          target="_blank"
          rel="noopener">{{'Ranking der Schulen'}}
        </a>
      </div>
    </div>
  </div>
</main>
