<main class="main">
  <div class="content">
    <div class="left-side" style="width: 40rem">
      <form class="example-form">
        <h1>{{ 'Mobilität' }}</h1>
        <mat-checkbox class="example-margin">E-Bikes</mat-checkbox>
        <br><br>
        <mat-checkbox class="example-margin">E-Autos</mat-checkbox>
        <mat-form-field style="width: 100%;">
          <mat-label>Geschätztes Mobilverhalten der Schüler/innen</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <mat-form-field style="width: 100%;">
          <mat-label>Geschätztes Mobilverhalten der Lehrpersonen</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <mat-form-field style="width: 100%;">
          <mat-label>Besondere Abmachungen</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <mat-form-field style="width: 100%;">
          <mat-label>Reglement für Flugreisen</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <mat-form-field style="width: 100%;">
          <mat-label>Reglemente für Klassenlager / Maturareisen / Exkursionen etc.</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </form>
      <br>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
    </div>
  </div>
</main>
