<main class="main">
  <div class="content">
    <div class="left-side" style="width: 40rem">
      <form class="example-form">
        <h1>{{ 'Login' }}</h1>
        <mat-form-field style="width: 100%;">
          <mat-label>Benutzername</mat-label>
          <input matInput name="username" [(ngModel)]="username">
        </mat-form-field>
        <mat-form-field style="width: 100%;">
          <mat-label>Enter your password</mat-label>
          <input matInput name="password" [(ngModel)]="password" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" (click)="onLogin()">Login</button>
      </form>
      <br>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
    </div>
  </div>
</main>
