<main class="main" >
  <div class="content">
    <div class="left-side" style="width: 40rem">
      <h1>{{ 'Energie' }}</h1>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{'Heizung'}}</mat-card-title>
        </mat-card-header>
      </mat-card>
      <br>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{'Strom'}}</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{'Solaranlage'}}</mat-card-title>
        </mat-card-header>
        <mat-card-content> {{'aaaaa'}}</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{'Sanierungen'}}</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{'Weiteres'}}</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
    </div>
  </div>
</main>
