<main class="main" >
  <div class="content">
    <div class="left-side" style="width: 50rem">
      <h1>{{ 'Energie' }}</h1>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{'Heizung'}}</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
          <mat-form-field style="width: 100%;">
            <mat-label>{{'Hauptenergieträger'}}</mat-label>
            <mat-select>
              <mat-option>{{'-'}}</mat-option>
              <p *ngFor="let enum of HeizartenEnum | keyvalue">
                <mat-option (click)="setValue(enum.value)" [value]="enum.key">{{enum.value}}</mat-option>
              </p>
            </mat-select>
          </mat-form-field>
          <br>
          <br>
          <mat-form-field style="width: 100%;">
            <mat-label>{{'Energieverbrauch in kWh'}}</mat-label>
            <input matInput [formControl]="energieVerbrauchHaupt">
            <mat-hint align="start">{{'Berechnungshilfe falls nötig: 1 L Heizöl = 1 m3 Erdgas = 10 kWh'}}</mat-hint>
          </mat-form-field>
          <br>
          <br>
          <mat-form-field style="width: 100%;">
            <mat-label>{{'Sekundärenergieträger'}}</mat-label>
            <mat-select>
              <mat-option>{{'-'}}</mat-option>
              <p *ngFor="let enum of HeizartenEnum | keyvalue">
                <mat-option (click)="setValueSek(enum.value)" [value]="enum.key">{{enum.value}}</mat-option>
              </p>
            </mat-select>
          </mat-form-field>
          <br>
          <br>
          <mat-form-field style="width: 100%;">
            <mat-label>{{'Energieverbrauch in kWh'}}</mat-label>
            <input matInput [formControl]="energieVerbrauchSek">
            <mat-hint align="start">{{'Berechnungshilfe falls nötig: 1 L Heizöl = 1 m3 Erdgas = 10 kWh'}}</mat-hint>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{'Strom'}}</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{'Solaranlage'}}</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{'Sanierungen'}}</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{'Weiteres'}}</mat-card-title>
        </mat-card-header>
      </mat-card>
      <br>
      <br>
      <button mat-raised-button color="primary" (click)="onSubmit()">Speichern</button>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <klimaschule></klimaschule>
    </div>
  </div>
</main>
